.logo {
  position: absolute;
left: 5.56%;
right: 90.42%;
top: 0.13%;
bottom: 98.61%;
}
.nav_elements {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  position: relative;
  left: 46vw;
  bottom: 80px;
  width: 800px;
  height: 30px;
}
.nav_aboutus {
  position: absolute;
  width: 80px;
  height: 24px;
  left: 841px;
  top: 42px;
}
.nav_services {
  position: absolute;
  width: 74px;
  height: 24px;
  left: 964px;
  top: 42px;
}
.nav_work {
  position: absolute;
  width: 45px;
  height: 24px;
  left: 1081px;
  top: 42px;
}
.nav_careers {
  position: absolute;
  width: 72px;
  height: 24px;
  left: 1169px;
  top: 42px;
}

.nav_contactus {
  position: absolute;
  width: 98px;
  height: 24px;
  left: 1284px;
  top: 42px;
}

/* mobile website css */
/* mobile website css */
/* mobile website css */
/* mobile website css */
/* mobile website css */
/* mobile website css */
/* mobile website css */
/* mobile website css */
/* mobile website css */
/* mobile website css */
/* mobile website css */
@media only screen and (max-device-width: 365px){
  .logo{
    position: absolute;
    left: 5.56%;
    top: 0.16%;
  }
  .nav_elements{
    display: none;
    position: absolute;
  }
  .nav_aboutus,.nav_services,.nav_work,.nav_careers,.nav_contactus{
    display: none;
  }
  
}