@font-face {
    font-family:Gilroy ;
    src: url('../../fonts/Gilroy-ExtraBold.otf');
}

.con-p{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: -0.02em;

    color: #000000;
    background-color: white;
    background: solid white;

}

/* .img{
    position: absolute;
    width: 74vw;
    height: 105vh;
    left: 24vw;
    top: 22vh;
    z-index: -1;
    overflow: hidden;

} */

.card1-div{
    margin-top: 100px;
    background: #FFFFFF;
    box-shadow: 0px 16px 40px rgba(168, 182, 197, 0.2);
    border-radius: 20px;
    display: flex;
    width :92vw;
    height:fit-content;
    margin-left: 3.5vw;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: initial;
}
.con{
    margin-top: 40px;
    margin-left: 60px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: -0.02em;

    color: #000000;

}


.inter-card1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 30px;
    height: 70vh;
    margin-left: 7vw;

}

.card1-img>img{
    height: 25vh;
    width: 14vw;
}
.card1-c{
    width: 14vw;
}
.card1-c>p{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #292929;
}
.card2-img{
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3), 0px 4px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 42vh;
    width: 24vw;
    position: absolute;
    z-index: 1;
    padding: 1vw;
}
.card2-img>img{
    height: 30vh;
    width: 21vw;
    margin: 8px;
}

.card2-content{
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.3), 0px 0px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 78vh;
    width: 76vw;
    position: relative;
    left: 16vw;
    top: 22vh;
    margin-bottom: 13vh;

}
.card2-content>p{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.02em;
    color: #292929;
    position: relative;
    left: 10vw;
    top: 7vh;
    width: fit-content;
}

.card2-internal-con{
    font-family: Mariupol;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #212121;
    position: relative;
    top: 15vh;
    padding: 4.5vh;

}

.products-info{
    margin-left: 3vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;   
}

.card2-div{
    margin-top: 5vh;
    margin-bottom: 100px;
    position: relative;
}

/* product - customer toggle button  */

.prod-cust-div{
    margin-top: 100px;
}

.prod-btn-div{
    display: inline-block;
    width: 60.5vw;
    overflow: hidden;
    margin-left: -1.5vw;
}


.cust-btn-div{
    display: inline-block;
    width: 39.9vw;
    overflow-x: hidden;
}

.prod-btn{
    background: #0073CB;
    width: 59.3vw;
    height: 14vh;
    margin-left: auto;
    border: none;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    transform: skewX(-20deg);
}
.cust-btn{
    background: #D2E7F8;
    width: 40.4vw;
    height: 14vh;
    border: none;
    margin-right: auto;
    position: relative;
    left: 2.4vw;
    
    transform: skewX(-20deg);
}
button:hover{
    cursor: pointer;
}
.prod-cust-div>p{
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;
    /* color: #000000; */
    font-family: Gilroy;
    text-decoration: none;
    width: fit-content;
}
.prod-btn-div>p{
    width: fit-content;
    position: relative;
    top: -10vh;
    left: 22vw;
    /* color: white; */
    cursor: pointer;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.02em;

}

.cust-btn-div>p{
    position: relative;
    top: -10vh;
    left: 13vw;
    cursor: pointer;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.02em;

}

.skewed-img-div{
    position: relative;
    /* margin-top: 22vh; */
    overflow: hidden;
}

.skewed-img{
    height: 80vh;
    width: 40vw;

    /* overflow:hidden; */
}
.skew-div{
    height: 80vh;
    width: 40vw;
}
.skewed-img>img{
    height: 80vh;
    width: 60vw;
    transform: skew(-20deg);
    position: relative;
    left: 47vw;
    overflow: hidden;
}

.skew-con{
    width: 49vw;
    position: absolute;
    left: 2vw;
    top: 20vh;
}

.skew-con>p{
    width: 49vw;
    
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: -0.02em;

    color: #000000;
}